#box {
    display: grid;   

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 

    width: 800px;
    height: auto;
}

.ex {
    width: 100px;
    height: 100px;
}

.black{
    background-color: black;    
}
.white{
    background-color: white;    
}
