<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamproject.spring.teamgg.mapper.FreeBoardMapper">
	<select id="freeList" resultType="com.teamproject.spring.teamgg.vo.FreeBoardVo">
		SELECT * FROM ${@com.teamproject.spring.teamgg.vo.FreeBoardVo@TABLE_NAME_FREE}
		ORDER BY f_idx DESC LIMIT #{page},20
	</select>
	
	<select id="freeRead" resultType="com.teamproject.spring.teamgg.vo.FreeBoardVo">
		select * from free_board where f_idx = #{f_idx}
	</select>	
	
	<delete id="freeDel">
		delete from free_board where f_idx = #{f_idx}
	</delete>
		
	<insert id="freeWrite" parameterType="com.teamproject.spring.teamgg.vo.FreeBoardVo"
	useGeneratedKeys="true" keyProperty="writeIdx">
		insert into free_board(f_title, f_id, f_user, f_content, f_date)
    	values (#{f_title}, #{f_id}, #{f_user}, #{f_content}, now())
	</insert>		
	
	<update id="freeModify">
		update free_board
		set f_title = #{f_title},
			f_content = #{f_content}
		where f_idx = #{f_idx} and f_id = #{f_id}
	</update>
	
	<select id="getTotalCount" resultType="int">
		SELECT count(*) from ${@com.teamproject.spring.teamgg.vo.FreeBoardVo@TABLE_NAME_FREE}
	</select>
</mapper>